@import url( https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap);


:root {
    --branco-principal: #ffffff;
    --cinza-segundario: #c0c0c0;
    --axul-botao: #167BF7;
    --botao-azul-efeito: #3c92fa;
    --preto-background: #00030c;
    --fonte-principal: 'inter'
}

body {
    background-color: var(--preto-background);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 1em;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url('assets/Background.png');
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
    margin: 0 0 124px 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-size: 1.75em;
    font-weight: 700;
}

.container__botao {
    background-color: var(--axul-botao);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    font-family: var(--fonte-principal);
    margin-bottom: 1em;
}

.container__botao:hover {
    background-color: var(--botao-azul-efeito);
    color: var(--preto-background);
}

.container__botao__botaosecundario {
    background-color: transparent;
    color: var(--branco-principal);
    padding: 1em;
    border-radius: 5px;
    border: 2px solid var(--branco-principal);
    text-decoration: none;
    display: block;
    font-family: var(--fonte-principal);
    margin-bottom: 1em;
}

.container__aviso {
    color: var(--cinza-segundario);
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 0.75em;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.secundario__imagem {
    display: flex;
    margin: 0 4.31em 0 0;
}

.container__secundario {
    display: flex;
    align-items: center;
    margin: 0 10em;
    text-align: left;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 3em;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
    text-align: left;
}

.descricao__texto {
    color: var(--cinza-segundario);
    text-align: left;
}

.container__botao__terciario {
    background-color: var(--axul-botao);
    color: var(--branco-principal);
    border-radius: 5px;
    padding: 1em;
    display: block;
    text-decoration: none;
    font-family: var(--fonte-principal);
    margin-bottom: 1em;
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.container__dispositivos {
    margin: 264px;
    text-align: center;
}

.dispositivos__titulos {
    font-size: 3em;
    color: var(--branco-principal);
}

.dispositivos__lista__acesso {
    font-size: 2em;
    color: var(--branco-principal);
}

.rodape__lista {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    margin: 38px;
}

.rodape__lista a:hover {
    color: var(--axul-botao);
}

.lista__link {
    color: var(--branco-principal);
    background-color: var(--preto-background);
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}

.rodape{
    margin: 145px;
}

.rodape__texto__primeiro{
    color: var(--cinza-segundario);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    margin: 0 0 32px 0;
}

.rodape__texto__segundo{
    color: var(--cinza-segundario);
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 99px 0;
}